language: java
jdk: openjdk6
env:
  global:
  # KEY
  - secure: "M654oc4KZIEVVmH96/41i4eVh0UxmmcqcXGgrcySbCQ9XKJDHBSTAU1nh8bs+G6frUXWnaTA5STZJI+6YBGnLOnyE49aRshFo9yt00v7joIDNesYk6gr67ol2BuO2BqCByTMBT0b4XjN4k8X/QzMDpgiaie8stnGFjfjjpjPELE="
  - SSH_IDS="id_itinerennes-android id_itinerennes-android_to_m2-repo"
  matrix:
  - SDK=7  ABI=armeabi      # 2.1            Eclair

before_install:
- . 00_params.sh
- . 20_install_android_sdk.sh

# Create and start emulator
- echo no | android create avd --force -n test -t android-$SDK --abi $ABI
- emulator -avd test -no-skin -no-audio -no-window &

install: echo skip

before_script:
- . 50_setup_git.sh
- . 60_setup_ssh_keys.sh

# get itinerennes-android sources
- ssh-add id_itinerennes-android
- git clone git@github.com:dudie/itinerennes-android.git

# Make sure the emulator has started
- ./.travis/wait_for_emulator.sh

script:
- cd itinerennes-android
- git checkout $RELEASE_BRANCH
- mvn -B release:prepare -DdryRun=$DRY_RUN -DversionCode=$RELEASE_VERSION_CODE -DreleaseVersion=$RELEASE_VERSION -DdevelopmentVersion=$NEXT_DEV_VERSION
- ssh-add -D && ssh-add id_itinerennes-android_to_m2-repo
- mvn -B release:perform -DdryRun=$DRY_RUN
